
<% if current_user.teacher? %>

    <h1>先生用ページ</h1>

    <h2>現在の<%= @klass %>の出席状況（<%= Time.zone.now %>）</h2>

    <% @students.each do |user| %>
        <p><%= user.last_name + user.first_name %>
        <% if user.attends.that_day?(@today) %>
            ⭕️
        <% else %>
            ❌
        <% end %>
    <% end %>

    <h2>他のクラスの出席状況をみる</h2>

    <% User.klass_list.each do |klass| %>
        <%= link_to klass, "/class/#{klass}" %>
        <br>
    <% end %>
<% else %>

    <h1>生徒用ページ</h1>

    <h2>現在の出席状態</h2>

    <h2>出席率</h2>

<% end %>