<% if current_user.teacher? %>

    <h1>先生用ページ</h1>

    <h2>現在の<%= current_user.klass %>の出席状況（<%= Time.current %>）</h2>

    <h2>現在の状態</h2>

    <h2>他のクラスの出席状況をみる<h2>

<% else %>

    <h1>生徒用ページ</h1>

    <h2>現在の出席状態</h2>

    <h2>出席率</h2>

<% end %>